<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="reportConfig.Listener"/>
    </listeners>

    <test name="Login test">
        <classes>
            <class name="cucumberOptions.TestRunner"></class>
        </classes>
    </test>
</suite>